<div class="feature">
	<h1>A few good companies looking for a few good men.</h1>
	<h2>and women too :)</h2>

	<div class="feature-buttons">
		<a href="/jobs" class="btn btn-default btn-lg">Browse Jobs</a> &nbsp; &nbsp; 
		<a href="/post" class="btn btn-default btn-lg">Post a Job</a>
	</div>
</div>